<footer class="row footer">
  <div class="col-sm-10">
    <div class="footer-info">
      <p>Bản quyền © 2019 SolarBK, Bao gồm tất cả các quyền</p>
      <p>
        Mọi thông tin, bài viết, hình ảnh trên website này thuộc bản quyền của
        SolarBK.
      </p>
      <p>
        Thông tin liên hệ: 47 Lê Văn Thịnh, khu phố 5, P. Bình Trưng Đông, Q. 2,
        TP. HCM, Việt Nam. Hotline: (+84.‎28) 7300 6759 - 1900 636 759
      </p>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="mobile-app-scan">
      <img src="../../../../../assets/images/icon-app-scan.png" alt="" />
    </div>
  </div>
</footer>