.footer {
    border-top: 1px solid #b3b3b3;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 14px;
  
    .footer-info {
      text-align: center;
      font-weight: 500;
    }
  
    .mobile-app-scan {
      img {
        width: 60%;
      }
    }
  }