<div class="project-detail">
  <h4 class="mb-4">TỔNG QUAN HỆ THỐNG</h4>

  <div class="row">
    <div class="col-12 col-xl-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="card border-0 status-connect">
            <div class="card-body">
              <div class="status-content">
                <span class="img-connect">
                  <img src="../../../../../assets/images/pv/icon-CongsuatPV.png" alt="">
                </span>
                <div class="energy-today">
                  <p class="energy-title">CÔNG SUẤT TỨC THỜI HỆ PV</p>
                  <h4>30,506 kW</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12  mt-4">
          <div class="card border-0 status-connect">
            <div class="card-body">
              <div class="status-content">
                <div class="energy-today inverter-content">
                  <p class="energy-title">Hệ 1 - 100kWp: <strong>19,79kW</strong></p>
                  <ul class="inverter-list">
                    <li class="inverter-item">
                      <p>Inverter 1</p>
                      <p>4,40kW</p>
                    </li>
                    <li class="inverter-item">
                      <p>Inverter 2</p>
                      <p>4,40kW</p>
                    </li>
                    <li class="inverter-item">
                      <p>Inverter 3</p>
                      <p>4,40kW</p>
                    </li>
                    <li class="inverter-item">
                      <p>Inverter 4</p>
                      <p>4,40kW</p>
                    </li>
                  </ul>
                </div>
                <div class="energy-today inverter-content">
                  <p class="energy-title">Hệ 2 - 100kWp: <strong>19,79kW</strong></p>
                  <ul class="inverter-list">
                    <li class="inverter-item">
                      <p>Inverter 1</p>
                      <p>4,40kW</p>
                    </li>
                    <li class="inverter-item">
                      <p>Inverter 2</p>
                      <p>4,40kW</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-12 mt-4">
          <div class="card border-0 h-100">
            <div class="card-body">
              <div class="card-innerBody d-flex align-items-center">
                <div class="card-icon text-light">
                  <img src="../../../../../assets/images/pv/icon-CO2.png" alt="">
                </div>
                <div class="ml-auto">
                  <p class="card-label text-right">TỔNG LƯỢNG GIẢM PHÁT THẢI CO<sub>2</sub></p>
                  <h4 class="card-text text-right"><strong>16,323</strong></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-xl-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="card border-0 status-connect">
            <div class="card-body">
              <div class="status-content">
                <span class="img-connect">
                  <img src="../../../../../assets/images/pv/icon-NLSX-Ngay.png" alt="">
                </span>
                <div class="energy-today">
                  <p class="energy-title">LƯỢNG ĐIỆN SẢN XUẤT TRONG NGÀY</p>
                  <h4>474,2 kWh</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12  mt-4">
          <div class="card border-0 status-connect status-month">
            <div class="card-body">
              <div class="status-content energy-month">
                <span class="img-connect image-month">
                  <img src="../../../../../assets/images/pv/icon-NLSX-Thang.png" alt="">
                </span>
                <div class="energy-today">
                  <p class="energy-title">NĂNG LƯỢNG SẢN XUẤT TRONG THÁNG</p>
                  <h4>30,506 kW</h4>
                </div>
              </div>
              <div class="status-content">
                <span class="img-connect">
                  <img src="../../../../../assets/images/pv/icon-dien-SX-ngay.png" alt="">
                </span>
                <div class="energy-today">
                  <p class="energy-title">TỔNG NĂNG LƯỢNG PV SẢN XUẤT</p>
                  <h4>337.215 kWh</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-12 mt-4">
          <div class="card border-0 h-100">
            <div class="card-body">
              <div class="card-innerBody d-flex align-items-center">
                <div class="card-icon text-light">
                  <img src="../../../../../assets/images/saving-money.png" alt="">
                </div>
                <div class="ml-auto">
                  <p class="card-label text-right">TỔNG TIỀN TIẾT KIỆM</p>
                  <h4 class="card-text text-right"><strong>16,323</strong></h4>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <small>(*) Giá điện tham khảo: <span><strong>1,784</strong></span></small>
    
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-xl-4 mb-4">
      <div class="card border-0 h-100">
        <div class="card-body">
          <div class="project-content">
            <div class="image-project">
              <img src="../../../../../assets/images/pv/nguyen-ly-du-an.png" alt="">
            </div>
            <div class="flow-energy">
              <img src="../../../../../assets/images/pv/line_pv.gif" alt="">
            </div>
            <div class="pv-energy-now">
              <span>
                0,02 kW
              </span>
            </div>
          </div>
          <div class="project-info">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xl-3">
                  <img src="../../../../../assets/images/pv/project-info.png" alt="">
                </div>
                <div class="con-xl-9">
                  <h6>THÔNG TIN DỰ ÁN</h6>
                  <p>Hệ thống điện mặt trời hòa lưới.<br>
                    Tổng công suất: 106,56 + (20,28) kWp<br>
                    Ngày lắp đặt: 11/3/2019</p>
                </div>
              </div>
            </div>
          </div>
          <div class="weather-info">
            <h6>THÔNG TIN THỜI TIẾT</h6>
            <div class="row">
              <div class="col-xl-6">
                <h5>29 &deg;C</h5>
                <p> mây thưa</p>
              </div>
              <div class="col-xl-6">
                <h5>4 m/s</h5>
              </div>
            </div>
          </div>
          <div class="device-status">
            <h6>TRẠNG THÁI THIẾT BỊ</h6>
            <div class="row">
              <div class="col-xl-6 device-content">
                  <h6>Hệ 1-100kWp</h6> 
                  <img 
                    src="../../../../../assets/images/status-connect.png"
                    alt="status-1-icon" class="">
                  <!---->
                  <!---->
                  <p>Thời gian cập nhật: <br>15/11/2020 18:34:57</p>

              </div>
              <div class="col-xl-6 device-content">
                <h6>Hệ 1-100kWp</h6> 
                <img 
                  src="../../../../../assets/images/status-connect.png"
                  alt="status-1-icon" class="">
                <!---->
                <!---->
                <p>Thời gian cập nhật: <br>15/11/2020 18:34:57</p>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12 mb-4">
      <div class="card border-0 card-chart">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>NĂNG LƯỢNG PV SẢN XUẤT THEO NGÀY</h6>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative">
            <canvas id="chart-bar" width="2" height="1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-12 mb-4">
      <div class="card border-0 card-chart">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>CÔNG SUẤT PV TRONG NGÀY</h6>
          <a class="btn ml-auto p-0 text-lightning">
            <i class="fas fa-ellipsis-h"></i>
          </a>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative">
            <canvas id="chart-line" width="2" height="1"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
