
<div class="project-detail">
    <h4 class="mb-4 text-muted">Tổng quan hệ thống</h4>

    <div class="row">
      <div class="col-12 col-xl-4 mb-4">
        <div class="row">
          <div class="col-xl-12">
            <div class="card border-0 status-connect">
              <div class="card-body">
                <div class="status-content">
                  <span class="img-connect"> 
                    <img src="../../../../../assets/images/pv/icon-CongsuatPV.png" alt="">
                  </span>
                  <div class="energy-today">
                    <h6 class="energy-title">LƯỢNG ĐIỆN SẢN XUẤT TRONG NGÀY</h6>
                    <h4>76,50 kW</h4>
                  </div>
                </div>            
              </div>
            </div>
          </div>
          <div class="col-xl-12 mt-4">
            <div class="card border-0 status-connect">
              <div class="card-body">
                <div class="status-content">
                  <span class="img-connect"> 
                    <img src="../../../../../assets/images/pv/icon-CongsuatPV.png" alt="">
                  </span>
                  <div class="energy-today">
                    <h6 class="energy-title">LƯỢNG ĐIỆN SẢN XUẤT TRONG NGÀY</h6>
                    <h4>76,50 kW</h4>
                  </div>
                </div>            
              </div>
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-12 col-xl-8 mb-4">
        <div class="card border-0 h-100">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-around">
              <div class="image-project">
                <img src="../../../../../assets/images/swh-removebg.png" alt="">
                <div class="project-title">
                  HỆ THỐNG MÁY NƯỚC NÓNG <br>
                  NĂNG LƯỢNG MẶT TRỜI
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
  
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="card border-0 h-100">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <div class="card-icon text-light">
                <img src="../../../../../assets/images/total-water-hot.png" alt="">
              </div>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Tổng lưu lượng nước nóng sử dụng trong tháng</p>
                <h4 class="card-text text-right"><strong>16,323</strong></h4>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <h5>Tổng lưu lượng sử dụng: <span><strong>20,284</strong></span></h5>

          </div>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="card border-0 h-100">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <div class="card-icon text-light">
                <img src="../../../../../assets/images/saving-money.png" alt="">
              </div>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Chi phí tiết kiệm trong tháng</p>
                <h4 class="card-text text-right"><strong>16,323</strong></h4>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <h5>Tổng số tiền tiết kiệm: <span><strong>20,284</strong></span></h5>

          </div>
        </div>
      </div>
    </div>  
  </div>
  