<app-navbar></app-navbar>
<div class="project-content">
  <h4 class="mb-4 text-muted">DANH SÁCH DỰ ÁN</h4>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 mb-4">
        <div routerLink="/pv/project-list" class="card project-item">
         <div class="project-wrapper">
          <div class="card-body">
            <div class="card-innerBody address-content">
              <div class="address-title">
                <h4 class="card-label">
                  HỆ THỐNG CẤP NGUỒN NĂNG LƯỢNG MẶT TRỜI
                </h4>
                <h5 class="card-text text-right">
                  <span class="status-title">
                    TRẠNG THÁI HỆ THỐNG
                  </span>
                  <span class="image-status">
                    <img src="../../../../../assets/images/status-connect.png" alt="">
                  </span>
                </h5>
              </div>
              <div class="project-title">
                <h3>THÔNG TIN DỰ ÁN</h3>
              </div>
              <div class="image-address">
                <img src="../../../../../assets/images/1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="footer-title">
              Họ Tên:
            </div>
            <div class="footer-content">
              Công ty SolarBK
            </div>
            <div class="footer-title">
              Địa chỉ lắp đặt:
            </div>
            <div class="footer-content">
              Số 7, đường 13, Khu dân cư Phú Mỹ,
              Quận 7, TP.Hồ Chí Minh
            </div>
  
          </div>
         </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div routerLink="/swh/project-detail" class="card project-item">
         <div class="project-wrapper">
          <div class="card-body">
            <div class="card-innerBody address-content">
              <div class="address-title">
                <h4 class="card-label">
                  HỆ THỐNG MÁY NƯỚC NÓNG NĂNG LƯỢNG MẶT TRỜI
                </h4>
                <h5 class="card-text text-right">
                  <span class="status-title">
                    TRẠNG THÁI HỆ THỐNG
                  </span>
                  <span class="image-status">
                    <img src="../../../../../assets/images/status-connect.png" alt="">
                  </span>
                </h5>
              </div>
              <div class="project-title">
                <h3>THÔNG TIN DỰ ÁN</h3>
              </div>
              <div class="image-address">
                <img src="../../../../../assets/images/2.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="footer-title">
              Họ Tên:
            </div>
            <div class="footer-content">
              Công ty SolarBK
            </div>
            <div class="footer-title">
              Địa chỉ lắp đặt:
            </div>
            <div class="footer-content">
              Số 7, đường 13, Khu dân cư Phú Mỹ,
              Quận 7, TP.Hồ Chí Minh
            </div>
  
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
