
<div>
    <h4 class="mb-4 text-muted">Trạng thái hệ thống </h4>
  
    <div class="row">
      <div class="col-md-6 col-lg-8">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-0 rounded-0">
                    <div class="card-body">
                      <div class="card-innerBody d-flex align-items-center">
                        <div class="card-icon text-light">
                          <img src="../../../../../assets/images/hot-water.png" alt="">
                        </div>
                        <div class="ml-auto">
                          <p class="card-label text-right text-muted">Thời gian hiện tại</p>
                          <h6 class="card-text text-right"><strong>14/11/2020 13:12:01 PM</strong></h6>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 rounded-0">
                    <div class="card-body">
                      <div class="card-innerBody d-flex align-items-center">
                        <div class="card-icon text-light">
                          <img src="../../../../../assets/images/total-water-hot.png" alt="">
                        </div>
                        <div class="ml-auto">
                          <p class="card-label text-right text-muted">Lưu lượng sử dụng</p>
                          <h4 class="card-text text-right"><strong>1,373</strong></h4>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div class="card border-0 rounded-0">
                    <div class="card-body">
                      <div class="card-innerBody d-flex align-items-center">
                        <div class="card-icon text-light">
                          <img src="../../../../../assets/images/cool-water.png" alt="">
                        </div>
                        <div class="ml-auto">
                          <p class="card-label text-right text-muted">Điện năng tiêu thụ</p>
                          <h4 class="card-text text-right"><strong>1,373</strong></h4>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div class="card border-0 rounded-0">
                    <div class="card-body">
                      <div class="card-innerBody d-flex align-items-center">
                        <div class="card-icon text-light">
                          <img src="../../../../../assets/images/saving-money.png" alt="">
                        </div>
                        <div class="ml-auto">
                          <p class="card-label text-right text-muted">Năng lượng tiết kiệm</p>
                          <h4 class="card-text text-right"><strong>1,373</strong></h4>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-4 h-100">
       <div class="content">
        <div class="card border-0 rounded-0">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <div class="card-icon text-light">
                <img src="../../../../../assets/images/cool-water.png" alt="">
              </div>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Nhiệt độ nước lạnh</p>
                <h4 class="card-text text-right"><strong>8 &deg;C</strong></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0 rounded-0">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <div class="card-icon text-light">
                <img src="../../../../../assets/images/hot-water.png" alt="">
              </div>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Nhiệt độ nước nóng</p>
                <h4 class="card-text text-right"><strong>80 &deg;C</strong></h4>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
  
    </div>
  
  </div>
  