svg {
    height: 100px;
    width: 100px;
    opacity: 0.7;
  }

  .status-connect {
    .card-title {
      justify-content: space-around;
      h6 {
        margin-left: 45px;
      }
    }
    .card-body {
      padding-top: 0;
    }
    .status-content {
      display: flex;
      justify-content: space-around;
      span {
        display: block;
      }
     .time-connect {
       display: flex;
      //  justify-content: center;
       align-items: center;
     }
    }
  }